@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root
{
    --white: #f9f9f9;
    --green: #229395;
    --green-light: #7acbcd;
    --black: #36383F;
    --grey: #85888C;
    --altoMenu:50px;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

a
{
    text-decoration: none;
}

ul
{
    list-style: none;
}

.header
{
    background-color: #000000;
    /*box-shadow: 1px 1px 5px 0px var(--grey);*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.logo
{
    display: inline-block;
    color: #1abc9c;
    font-size: 45px;
    margin-left: 10px;
}

.nav
{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: var(--black);
    overflow: hidden;
    max-height: 0;
    transition: max-height .5s ease-out;
    
}

.menu a
{
    
    display: block;
    margin: 15px;
    padding: 15px;
    color: #1abc9c;
}

.menu a:hover
{
    background-color: var(--green);
    color:#ffffff;
    border-radius: 10px;
}

.hamb
{
    cursor: pointer;
    float: right;
    padding: 40px 20px;
}


.hamb-line 
{
    background:white;
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
    
}

.hamb-line::before,
.hamb-line::after
{
    background: var(--white);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before
{
    top: 5px;
}

.hamb-line::after
{
    top: -5px;
}

.side-menu 
{
    display: none;
}

.side-menu:checked ~ nav
{
    max-height: 100%;
    opacity: 0.7;
}

.side-menu:checked ~ .hamb .hamb-line 
{
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before 
{
    transform: rotate(-45deg);
    top:0;
}

.side-menu:checked ~ .hamb .hamb-line::after 
{
    transform: rotate(45deg);
    top:0;
}
/*section1*/
#section1{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    background-image: url(img/inicio.png);
    /*background-image: url(../img/img1.png);*/
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    color:#1abc9c;
        
}
#section1 h1{
    
    color:var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 2rem;
    background-color: #000000;
    opacity: 0.7;
}
#section1 h3{
    padding-top: var(--altoMenu);
    color:var(--white);
    display: flex;
    opacity: 0.7;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #000000;
}

#section2{
    display:grid ;
    grid-template-columns: repeat(2,1fr);
    background-image: url(img/nosotros.png);
    width: 100%;
    min-height: 100vh;
    padding-top: var(--altoMenu);
}
.titulo{
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 7px 7px 7px var(--green);
    margin:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(105deg, var(--green) 10%, rgba(51,56,57,1) 96%);
    background-size: cover;
    opacity: 0.7;
}

#section2 h2{
    
    justify-content: center;
    align-items: center;
    color:var(--green);
    font-size: 3rem;
}
#section2  p{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}
#section3{
    background-image:linear-gradient(105deg, var(--green) 10%, rgba(51,56,57,1) 96%);
    width: 100%;
    min-height: 100vh;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:100px;
}
.contedorPortfolio{
    width: 300px;
    height: auto;
    border: 3px solid #24262b;
    box-shadow: 5px 5px 5px #000000;
    margin:0 3%;
    border-radius: 5px;
    background-color: #000000;
    
}
.contedorPortfolio:hover{
    border: 5px solid #000000;
    cursor: pointer;
}
.contedorPortfolio img{
    width: 100%;
    padding-bottom: 5px;
    
}
.tituloPort{
    color:white;
    background-color: black;
    opacity: 0.7;
    padding: 20px 10px;
}
.descripcion{
    color:white;
    background-color: black;
    opacity: 0.7;
    padding: 20px 10px;
}
#section4{
    background-image: url(img/contacto2.png);
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    background-color: #000000;
       
}

.info {
    display: flex ;
    justify-content: center;
    align-items: center;
    color:white;
    margin:auto;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    opacity: 0.8;
    background-color: #000000;
    width: 80%;
    max-width: 700px;
}
.info input ,textarea{
    width: 90%;
    margin: 10PX 10PX;
    padding: 7px 0;
    
    
}
#enviar{
    background-color: #229395;
    opacity: 1 !important;
}
.info form{
    padding: 20px;
    
}

@media (min-width: 768px)
{
    .nav
    {
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
    }

    .menu li
    {
        float: left;
    }

    .menu a:hover
    {
        background-color: var(--green);
        color: white;
    }

    .hamb
    {
        display: none;
    }

}

/*footer*/
body{
	line-height: 1.5;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 33.3%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
.footer p{
    color:#85888C;
}
/*responsive*/

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
#section2{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}

}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
.nav{
    width: 100%;
}
.contenedor{
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    height: 100%;
}
.noMostrar{
display:none;
}
.contedorPortfolio{
    margin:20px auto;
    
}
.descripcion{
    display: none;
}
}
@media(max-width: 444px){
    .footer-col{
      width: 100%;
  }
  .nav{
      width: 100%;
  }
  #section1{
    width: 100%;
  }
  #section2{
    width: 100%;
  }
  #section3 {
      width: 100%;
    }
    #section4{
        width: 100%;
    }
  .contedorPortfolio{
      float: left;
  }
  }
